.eucookielaw-banner{font-size:.82em}
.eucookielaw-banner .well{background:#0779bf; padding:0 1em}
.eucookielaw-banner .well h1{color:#fff; margin-top:0px;margin-bottom: 0}
.eucookielaw-banner .well p.banner-message{font-size:1.2em;float:left; margin-top:0}
.eucookielaw-banner .well p.banner-agreement-buttons{border:none; margin-bottom:0}
.eucookielaw-banner .well p.banner-agreement-buttons a.disagree-button {color: #444;}